.digital-marketing {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 180px;
}

.digital-marketing__sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 298px;
    padding: 0px 38px;
    background-color: var(--accent-blue);
    border-radius: 4px;
}

.digital-marketing__sidebar h2 {
    color: var(--light-text);
    font-family: Oswald;
    font-size: 140px;
    font-weight: 700;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0;
}

.digital-marketing__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
    gap: 20px;
    row-gap: 60px;
}

.digital-marketing__card {
    display: flex;
    height: 573px;
    padding: 40px 38px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
    background-color: var(--light-text);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.digital-marketing__card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.digital-marketing__title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    position: relative;
    z-index: 10;
}

.digital-marketing__icon {
    width: 20px;
    height: 20px;
}

.digital-marketing__title {
    color: var(--dark-text);
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.digital-marketing__title {
    transition: color 0.3s ease;
}

.digital-marketing__card:hover .digital-marketing__title {
    color: var(--light-text); 
}

.digital-marketing__icon circle {
    transition: stroke 0.3s ease; 
}

.digital-marketing__card:hover .digital-marketing__icon circle {
    stroke: var(--light-text); 
}


.digital-marketing__subtitle {
    color: var(--dark-text);
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.8px;
    margin-bottom: 12px;
}

.digital-marketing__text {
    color: var(--dark-text);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.6px;
}

.digital-marketing__image {
    width: 100%;
    max-width: 284px;
    max-height: 182px;
    height: auto;
    margin: 0 auto;
}

.digital-marketing__image-large {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.digital-marketing__card:hover .digital-marketing__image-large {
    opacity: 1;
    transform: translateY(0);
}

.digital-marketing__view-label {
    position: absolute;
    bottom: 18px;
    left: 30px;
    color: #FFF;
    font-family: Impact;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.digital-marketing__card:hover .digital-marketing__view-label {
    opacity: 1;
}

@media (max-width: 1870px) {
    .digital-marketing {
        padding: 120px;
    }
}

@media (max-width: 1530px) {
    .digital-marketing {
        gap: 20px;
    }
}

@media (max-width: 1304px) {
    .digital-marketing {
        grid-template-columns: 1fr;
        padding: 100px 50px;
    }

    .digital-marketing__sidebar {
        width: 100%;
        height: 174px;
        justify-content: center;
        padding: 20px;
        margin-bottom: 40px;
    }

    .digital-marketing__sidebar h2 {
        font-size: 90px;
        writing-mode: horizontal-tb;
        transform: none;
        text-align: center;
    }

    .digital-marketing__content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 1220px) {
    .digital-marketing__card {
        height: auto;
        padding: 20px;
    }

    .digital-marketing__title-container {
        flex-direction: row;
        gap: 5px;
    }

    .digital-marketing__title {
        font-size: 28px;
    }

    .digital-marketing__subtitle {
        font-size: 20px;
    }

    .digital-marketing__text {
        font-size: 14px;
    }
}

@media (max-width: 876px) {
    .digital-marketing__sidebar h2 {
        text-align: left;
        font-size: 70px;
    }
}

@media (max-width: 729px) {
    .digital-marketing {
        grid-template-columns: 1fr;
        padding: 50px 20px;
    }

    .digital-marketing__sidebar {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .digital-marketing__sidebar h2 {
        font-size: 70px;
        writing-mode: horizontal-tb;
        transform: none;
    }

    .digital-marketing__content {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .digital-marketing__card {
        padding: 20px;
        height: auto;
    }

    .digital-marketing__title {
        font-size: 24px;
    }

    .digital-marketing__subtitle {
        font-size: 18px;
    }

    .digital-marketing__text {
        font-size: 14px;
        line-height: 22px;
    }

    .digital-marketing__image {
        max-width: 100%;
        max-height: 150px;
        height: auto;
        position: relative;
    }
}

@media (max-width: 500px) {
    .digital-marketing {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .digital-marketing__sidebar {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .digital-marketing__sidebar h2 {
        font-size: 60px;
        writing-mode: horizontal-tb;
        transform: none;
    }

    .digital-marketing__content {
        display: flex;
        flex-direction: row;
        gap: 20px;
        overflow-x: auto;
        padding: 20px 0;
        width: 100%;
    }

    .digital-marketing__card {
        flex: 0 0 auto;
        width: 340px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 4px;
        background-color: var(--light-text);
    }

    .digital-marketing__title {
        font-size: 20px;
    }

    .digital-marketing__subtitle {
        font-size: 16px;
    }

    .digital-marketing__text {
        font-size: 14px;
        line-height: 20px;
    }

    .digital-marketing__image {
        max-width: 100%;
        max-height: 150px;
        height: auto;
        margin-top: auto;
    }
}