.industries {
    text-align: center;
    padding: 0 20px;
}

.industries__title {
    color: var(--dark-button-bg);
    font-family: Lato;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.industries__grid-wrapper {
    overflow-x: auto; 
    padding-bottom: 20px; 
    width: 100%; 
}

.industries__grid {
    display: grid;
    margin: 0 auto;
    grid-auto-flow: column; 
    grid-template-rows: 1fr; 
    gap: 20px;
    width: max-content; 
}

.industry-card {
    display: flex;
    width: 363px;
    height: 530px;
    padding: 40px 38px;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-text);
    border-radius: 4px;
    text-align: left;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.resources-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.industry-card__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 12px;
}

.industry-card__title {
    color: var(--dark-text);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 22px;
    position: relative;
    z-index: 2;
}

.industry-card__title {
    transition: color 0.3s ease;
}

.industry-card:hover .industry-card__title {
    color: var(--light-text); 
}

.industry-card__text {
    color: var(--dark-text);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.6px;
    position: relative;
    z-index: 2;
}

.industry-card:hover .industry-card__text {
    color: var(--light-text); 
}

.industry-card__image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    margin-top: auto;
}

.industry-card__image-large {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.industry-card:hover .industry-card__image-large {
    opacity: 1;
    transform: translateY(0);
}

.industry-card__view-label {
    position: absolute;
    bottom: 18px;
    left: 30px;
    color: #FFF;
    font-family: Impact;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.industry-card__card:hover .industry-card__view-label {
    opacity: 1;
}

.industry-card__view-icon {
    position: absolute;
    top: 18px;
    left: 30px;
    color: #FFF;
    font-family: Impact;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0; 
    transition: opacity 0.1s ease 0.4s;
}

.industry-card:hover .industry-card__view-icon {
    opacity: 1; 
    z-index: 10; 
    transition-delay: 0.5s;
}

.industry-card:not(:hover) .industry-card__view-icon {
    opacity: 0;
    transition-delay: 0s; 
    transition: opacity 0.3s ease; 
}

@media (max-width: 1560px) {
    .industries__grid-wrapper {
        overflow-x: auto; 
    }
}