.home-main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.home-main__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    z-index: 3;
}

.home-main__cover {
    min-height: 100svh;
    min-width: 100svw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../digital-marketing/assets/img/main/hero-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5;
}

.home-main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 301px;
    right: 183px;
    width: 100%;
    height: 100%;
    max-width: 663px;
    max-height: 500px;
}

.home-main__title {
    color: var(--light-text);
    text-align: center;
    font-family: Lato;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 62.4px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.home-main__text {
    color: var(--light-text);
    text-align: center;
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.8px;
    width: 585px;
    margin-bottom: 80px;
}

.main__button--light {
    background-color: var(--light-button-bg);
    color: var(--light-button-text);
}

.main__button--light:hover {
    background-color: var(--light-button-hover-bg);
    cursor: pointer;
    transition: all 0.3s;
}

.main__button--light:hover svg g path {
    fill: #3A8ACA;
    transition: all 0.3s;
}

@media (max-width: 1555px) {
    .home-main__container {
        top: 301px;
        right: 83px;
        max-width: 563px;
    }

    .home-main__title {
        font-size: 42px;
        line-height: 52.4px;
    }

    .home-main__text {
        font-size: 18px;
        line-height: 26.8px;
        width: 485px;
        margin-bottom: 50px;
    }
}

@media (max-width: 1300px) {
    .home-main__container {
        top: 0;
        transform: translateY(50%);
        right: 83px;
        max-width: 563px;
    }
}

@media (max-width: 820px) {
    .home-main__container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .home-main__title {
        font-size: 32px;
        line-height: 42.4px;
    }

    .home-main__text {
        font-size: 16px;
        line-height: 24.8px;
    }
}

@media (max-width: 575px) {
    .home-main__container {
        max-width: 270px;
    }

    .home-main__title {
        font-size: 28px;
        line-height: 33px;
    }

    .home-main__text {
        font-size: 16px;
        line-height: 22.4px;
        width: 270px;
        margin-bottom: 32px;
    }

    .main__button--light {
        width: 270px;
        height: 40px;
    }
}

@media (max-width: 375px) {
    .home-main__cover {
        background-image: url('../../digital-marketing/assets/img/main/hero-mob-bg.png');
    }

    .home-main__container {
        bottom: -240px;
        top: auto;
    }
}