.resources-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 120px;
    gap: 20px;
}

.resources-section__sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 298px;
    padding: 20px 38px;
    background-color: var(--accent-rose);
    border-radius: 4px;
}

.resources-section__sidebar-title {
    color: var(--light-text);
    font-family: Oswald;
    font-size: 108px;
    font-style: normal;
    font-weight: 700;
    line-height: 118.8px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0;
}

.resources-section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    row-gap: 20px;
}

.resources-card {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--light-text);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.resources-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.web-development {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.software-development {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-items: stretch;
    width: 100%;
    height: auto;
}

.sd {
    max-width: 100%;
    height: auto;
}

.ai-programmatic {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.ui-ux-design {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.resources-card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.resources-image__wrapper {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resources-card__title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    position: relative;
    z-index: 5;
}

.resources-card__icon {
    width: 20px;
    height: 20px;
}

.resources-card__title {
    color: var(--dark-text);
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.resources-card__title {
    transition: color 0.3s ease;
}

.resources-card:hover .resources-card__title {
    color: var(--light-text); 
}

.resources-card__icon circle {
    transition: stroke 0.3s ease; 
}

.resources-card:hover .resources-card__icon circle {
    stroke: var(--light-text); 
}

.resources-card__subtitle {
    color: var(--dark-text);
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.8px;
    margin-bottom: 12px;
}

.resources-card__text {
    color: var(--dark-text);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.6px;
}

.resources-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.resources-card__image-large {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.resources-card:hover .resources-card__image-large {
    opacity: 1;
    transform: translateY(0);
}

.resources-card.software-development .resources-card__image-large,
.resources-card.ai-programmatic .resources-card__image-large {
    transform: translateX(100%); 
    transition: transform 0.5s ease; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.resources-card.software-development:hover .resources-card__image-large,
.resources-card.ai-programmatic:hover .resources-card__image-large {
    transform: translateX(0); 
}



@media (max-width: 1480px) {
    .resources-section {
        grid-template-columns: 1fr;
        padding: 40px;
        padding: 120px;
    }

    .resources-section__sidebar {
        width: 100%;
        padding: 20px;
        justify-content: center;
    }

    .resources-section__sidebar-title {
        font-size: 70px;
        text-align: left;
        writing-mode: horizontal-tb;
        transform: none;
    }

    .resources-section__content {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 1263px) {
    .resources-section {
        padding: 100px 80px;
    }

    .resources-section__sidebar {
        height: 174px;
        padding: 20px;
        margin-bottom: 40px;
    }

    .resources-section__sidebar-title {
        font-size: 60px;
        writing-mode: horizontal-tb;
        transform: none;
    }

    .resources-card {
        padding: 20px;
    }

    .resources-card__title-container {
        margin-bottom: 20px;
    }

    .resources-card__title {
        font-size: 24px;
    }

    .resources-card__subtitle {
        font-size: 18px;
    }

    .resources-card__text {
        font-size: 14px;
    }
}

@media (max-width: 1037px) {
    .resources-section__sidebar-title {
        font-size: 50px;
    }
}

@media (max-width: 930px) {
    .resources-section {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
        align-items: center;
    }

    .resources-section__sidebar {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        justify-content: center;
    }

    .resources-section__sidebar-title {
        font-size: 48px;
        line-height: normal;
        text-align: left;
        writing-mode: horizontal-tb;
        transform: none;
    }

    .resources-section__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .resources-card {
        max-width: 500px;
        width: 100%;
    }

    .resources-card__wrapper {
        width: 100%;
    }

    .resources-image__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resources-card__image,
    .sd {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
    }

    .software-development,
    .ai-programmatic {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .resources-section {
        padding: 0;
    }

    .resources-section__sidebar-title {
        font-size: 42px;
        line-height: normal;
    }

    .resources-section__sidebar {
        width: 350px;
        height: 218px;
        padding: 38px 40px;
    }

    .resources-card {
        display: flex;
        width: 350px;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .resources-card__title {
        font-size: 20px;
        line-height: normal;
    }

    .resources-card__subtitle {
        font-size: 18px;
        line-height: normal;
    }

    .resources-card__text {
        font-size: 16px;
        line-height: normal;
    }
}